<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.drinkingbuddy">

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_blue_logo"
        android:label="@string/app_name"
        android:parentActivityName="HomePage"
        android:roundIcon="@mipmap/ic_blue_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Views.GraphsActivity"
            android:exported="false"
            android:label="Graphs"
            android:parentActivityName=".Views.HomePage" />
        <activity
            android:name=".Views.DrinkInputActivity"
            android:exported="false"
            android:label="Drink Input"
            android:parentActivityName=".Views.HomePage"/>
        <activity
            android:name=".Views.BarGraphActivity"
            android:exported="false"
            android:label="Weekly Habits"
            android:parentActivityName=".Views.GraphsActivity" />
        <activity
            android:name=".Views.PieChartActivity"
            android:exported="false"
            android:label="Type Of Drink"
            android:parentActivityName=".Views.GraphsActivity" />
        <activity
            android:name=".Views.LineGraphActivity"
            android:exported="false"
            android:label="Overall Consumption"
            android:parentActivityName=".Views.GraphsActivity" />
        <activity
            android:name=".Views.RegistrationActivity"
            android:exported="false"
            android:label="Register"
            android:parentActivityName=".Views.LoginActivity" />


        <activity
            android:name=".Views.LoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".Views.ProfileActivity"
            android:exported="false"
            android:label="Profile"
            android:parentActivityName=".Views.HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.HomePage" />
        </activity>
        <activity
            android:name=".Views.LoadActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName=".Views.HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.HomePage" />
        </activity>
        <activity
            android:name=".Views.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.HomePage"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>